
body{
	font-family: arial;
	
	}
h1{
	width:max-content;
	height:max-content;
	background-color:lightblue;
	border-radius: 50px;
	padding: 10px 10px;
	border:10px;
	}
.judul{
	display:flex;
	justify-content:center;
	height:100px;
}
.container{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
		
